* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background-color: #4A4E4D;

    display: flex;
    flex-direction: column;
}

.image {
    background-color: #F6CD61;
    width: 100%;
    height: 25vh;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
}

.text {
    width: 50%;
    height: 50vh;
}


.back-img {
    background-image: url(cat.jpg);
    background-repeat: repeat;
    height: 25vh;
    max-width: 100%;
    max-height: 100%;
}